@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-oswald);
  --font-mono: var(--font-space-mono);

  --color-wab-black: #050505;
  --color-wab-offwhite: #F3F0E9;
  --color-wab-red: #E52420;
  --color-wab-yellow: #FFD91A;
}

@layer base {
  body {
    background-color: var(--color-wab-offwhite);
    color: var(--color-wab-black);
  }

  /* Grid styles */
  .grid-bg {
    background-image: 
      linear-gradient(to right, rgba(5,5,5,0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(5,5,5,0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

